<h1>LineChaser</h1>

<div id="panel">
  <input type="textbox" id="address" placeholder="Insert zip code here!">
  <input type="button" id="store_search" value='Find my store' class="btn btn-success" >
</div>
<br>

<div id="map-container">
  <div id="map-canvas" style="height:600px">
    
  </div>
</div>