<!DOCTYPE html>
<html>
<head>
  <title>Maps</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?"></script>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  <script src="javascripts/insert_map.js"></script>
</head>
<body>
    <div class="container">
        <div class="container-fluid">
            <%= yield %>
        </div>
    </div>
</body>